<div class="header-bg" [style.backgroundImage]="'url('+data.background_image+')'">
</div>

<div class="header-content">

  <div class="left-img">
    <div class="header-img">
      <div *ngIf="data.poster_path==null;then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><img src="assets/images/no-image.png" alt="figure" class="no-image"></ng-template>
      <ng-template #elseBlock><img [attr.src]="imgUrl+data.poster_path" alt="{{data.original_title}}"></ng-template>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="right-content">
    <div class="home-slide-item-content">
      <div class="items">
        <div class="item-title">
          {{data.title}}
        </div>
        <div class="item-title-original">
          {{data.original_title}}
        </div>
        <div class="header-detail">
          <div class="header-info">
            <i class="far fa-star"></i>
            <span>{{data.vote_average}}</span>
          </div>
          <div class="header-info">
            <i class="fas fa-clock"></i>
            <span *ngIf="data.runtime">{{data.runtime + ' min'}}</span>
            <span *ngIf="data.avg_run_time">{{data.avg_run_time + ' min'}}</span>
          </div>
          <div class="header-info">
            <i class="fas fa-calendar"></i>
            <span *ngIf="data.release_date">{{data.release_date | date}}</span>
            <span *ngIf="data.first_air_date">{{data.first_air_date | date}}</span>
          </div>
        </div>
        
        <div class="item-overview">
          {{data.overview}}
        </div>
      </div>
    </div>
  </div>
</div>
